/* gamelist */

.gamelist-article {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 .5rem;
    display: block;
    grid-gap: 0;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

default:focus, .btn-default:hover, .open .dropdown-toggle.btn-default {
    color: #333;
    background-color: #ebebeb;
    border-color: #adadad;
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn:focus, .btn:hover {
    color: #333;
    text-decoration: none;
}

.gamelist-menu {
    max-width: 1064px;
    background: #fff;
    margin: 1em 0 1em 0;
    padding: 10px;
    border: 1px solid #622010;
    border-top: 4px solid #622010;
    list-style: none;
    overflow: hidden;
    display: block;
}

.gamelist-menu-item {
    float: left;
    margin: 2px;
}

.gamelist {
    margin: 0p;
}

.one-year {
    max-width : 1064px;
    overflow: hidden;
    margin-bottom : 4px;
    padding-bottom: 0px;
    background: white;
    border: 1px solid #622010;
    border-left: 4px solid #622010;
}

.one-year-header-text {
    font-size: 1.4em;
    margin: 0;
    font-weight: 500;
    line-height: 1.1;
}

.one-year-header {
    padding-left : 2px;
    margin : 0;
}

.one-year > ul {
    list-style : none;
    margin: 0px;
    margin-left: 4px;
    padding: 0px;
}

.one-game {
    margin: 2px;
    float : left;
}

.bgglink-button {
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: white;
    vertical-align: baseline;
    white-space: nowrap;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #3A87AD;
    margin-top: 2px;
    margin-right: 4em;
    padding: 4px 6px 4px 6px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.gamelist-footer {
}

.clear {
    clear : both;
}

.modal-body {
    max-height: 800px;
}

.modal-image {
    background: #EEE;
    padding: 5px 5px 5px 5px;
    border: 1px solid #CCC;
    width: 85px;
    height: 85px;
}

.grey-border {
    background :#E3E3E3;
    border: 1px solid #D4D4D4;
}

.gold-border {
    background :#FFC125;
    border: 1px solid #FFB600;
}

.modal-image:hover{
    opacity: 0.7;
}

.modal-display > img {
    min-width: 400px;
}

.modal-description {
    padding-left  : 15px;
    padding-right : 15px;
    padding-bottom : 15px;
}

.modal-description-dl {
    list-style : none;
    margin-top : 0px;
    margin-bottom : 10px;
}

.modal-description-dl > dt {
    width : 60px;
    text-align : left;
}

.modal-description-dl > dd {
    margin-left: 70px;
}

/* game page */
.gamelist-item {
    margin: 12px;

    max-width : 1064px;
    overflow: hidden;
    margin-bottom : 4px;
    padding-bottom: 4px;
    background: white;
    border: 1px solid #622010;
}

.gamelist-item-title {
/*
    border-left: 6px solid #7EBA03;
    border-bottom: 1px solid #A3A4A7;
*/
    font-size    : 24px;
    padding      : 0px 12px 0px 12px;
    margin-bottom: 2px;    
    float : left;
}

.gamelist-item-label {
    padding : 12px;
}

.gamelist-item-image-frame {
    padding-left: 6px;    
}

.game-info-image {
    display :block;
    height: 320px;
    vertical-align: middle;
    margin-left: auto;    margin-right: auto;
}

.dotline {
    border-bottom : 1px dotted #A3A4A7;
    padding-bottom: 6px;
    margin-left   : 4px;
    margin-right  : 4px;
    clear : both;
}

.gamelist-item-table-label {
    text-align: left;
    padding: 2px 25px 0px 5px;
    font-weight: bold;    
} 

.gamelist-item-table-value {
    color: #008595;
    text-align: left;
    padding: 2px 25px 0px 5px;
}