/* content */
html {

}

div {
}

body {
/*    background-color: #EAF6F2;*/
/*    background: url("/boardgame/img/bg-cover.jpg"); */
    margin: 0px;
    background-color: #F6F5F5;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;

    margin: 0;
    font-size: 12px;
    line-height: 1.7;

    font-family: "FF DIN", "Helvetica Neue", "Calibri", sans-serif;
}

/* Menu */

header {
    min-height: 48px;
    $header-size: 48px;

    background-color: #4C2B23;
    color: #BBAA9F;
}

header nav {
    margin-left: auto;
    margin-right: auto;

    display: -webkit-box; /* Safari,Google Chrome用 */  
    display: -moz-box; /* Firefox用 */  	    
    display: grid;
    grid-template-columns: 1.5fr 4fr 0.5fr;

    text-align: center;
    max-width: 64rem;

    justify-content: space-between
}
 
header nav h1 {
    margin: 0;

    font-size: 1.4rem;
    line-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

header nav h1 a {
    color: inherit;
    text-decoration: none;
}

header nav h1 a:hover {
    color: white;
}
	    
header nav ul.link-button-list {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;

    display: -webkit-box; /* Safari,Google Chrome用 */  
    display: -moz-box; /* Firefox用 */  	    
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
}

header nav ul li {
    background-color: inherit;
    color: inherit;
    padding: 1rem .5rem;
    display: block;
}

header nav ul li a {
    color: inherit;
    text-decoration: none;
    line-height: 1rem;    
}

header nav ul li a:hover {
    color: white;
}

header nav ul.icon-list {
    height: $header-size;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;

    display: -webkit-box; /* Safari,Google Chrome用 */  
    display: -moz-box; /* Firefox用 */  	    
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2, 1fr);
}

#twitter-icon {
    color : #9AE4E8;
}

#rss-icon {
    color : #FF6600;
}

/* footer */
article {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0.5rem 0 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
}

article header {
    all: initial;    
}

.ITEM-DATE {
    display: block;
    color: #659700;
    font-size: 0.8rem;
    margin-bottom: 0;
    border-bottom: thin solid grey;
}

.ITEM-TITLE {
    margin-top: 2px;
    font-size: 1.4rem;
}

.boardgame {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0 1rem 0;
    grid-gap: 1rem;
}

.boardgame h2{
    font-weight: 400;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0;
    font-size: 1.3rem;
    border-bottom: 1px solid #ccc;
    border-left: 3px solid;
    padding-left: 6px;
}

.boardgame-image {
    width: 100%;
    margin: 0;    
}

@media screen and (max-width: 2048px) {
    .bginfo {
	padding-left: 1rem;
	border-left: 1px solid #ccc;
	font-size: 1rem;
    }
    .bginfo p{
	margin : 0;
	padding-left: 1rem;
	font-size: 1rem;
    }
}

@media screen and (max-width: 480px){
    .bginfo {
	padding-left: 0.6rem;
	border-left: 1px solid #ccc;
	font-size: 0.6rem;
    }
    .bginfo p{
	margin : 0;
	padding-left: 0.6rem;
	font-size: 0.6rem;
    }
}


.Designer {

}

.Publisher {

}

.Year{}

p {
    color: #252422;
    margin: 0.5rem 0 0.5rem;
    font-size: 1rem;
}
