.bgglink_label {
    font-size:10.998px;
    font-weight:bold;
    line-height:14px;
    color:#ffffff;
    vertical-align:baseline;
    white-space:nowrap;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);

    background-color: #3A87AD;
    
    margin-top: 2px;
    margin-right: 4em;
    
    padding:1px 4px 2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.nicelink_label {
    font-size:10.998px;
    font-weight:bold;
    line-height:14px;
    color:#ffffff;
    vertical-align:baseline;
    white-space:nowrap;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);

    background-color: #F89406;

    padding:1px 4px 2px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
