/* content */
html {
  font-size : 12px;
}
    
div {

    display: grid;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

    header {
	min-height: 48px;
	$header-size: 48px;
	
	nav {
	    margin-left: auto;
	    margin-right: auto;
	    
	    display: grid;
	    grid-gap: 10px;
	    grid-template-columns: 2fr repeat(4, 1fr);
	    
	    text-align: center;
	    
	    h1 {
		margin: 0 10px;
		font-size: 1.2rem;
		line-height: 48px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 
	    }
	    
	    ul {
		height: $header-size;
		margin: 0;
		text-align: center;
		
		li {
		    
		}
	    }
	}
    }
}

.body {

}

body {
/*    background-color: #EAF6F2;*/
    background: url("/boardgame/img/bg-cover.jpg");
}

#twitter-icon {
    color : #9AE4E8;
}

#rss-icon {
    color : #FF6600;
}
